section.about.section.bd-container#about
    .about__containter.bd-grid
        .about__data
            span.section-subtitle About us
            h2.section-title we cook the best <br> tasty food
            p.about__description We cook the best food on the entiry city, with excellent customer service, the best meals and at the best price, visit us.
            a(href="#" class="button") Explore history 
        img(src="../assets/about.jpg", alt="")