section.app.section.bd-container
    .app__container.bd-grid 
        .app__data 
            span.section-subtitle App 
            h2.section-title App is aviable
            p.app__description Find pur application and download it, you can make reservations, food orders, see your deliveries on the way and much more.
            .app__stores
                a(href="#")
                    img(src="../assets/app1.png" alt="" class="app__store") 
                a(href="#")
                    img(src="../assets/app2.png" alt="" class="app__store") 
        img(src="../assets/movil-app.png", alt="" class="app__img")
                