section.contact.section.bd-container#contact
    .contact__container.bd-grid 
        .contact__data 
            span.section-subtitle.contact__initial Let's talk
            h2.section-title.contact__initial Contact us
            p.contact__description If you want to reserve a table in our restaurant, contact us and we will attend you quickly, with our 24/7 chat service.
        .contact__button    
            a(href="#" class="button") Contact us now 