footer.footer.section.bd-container
    .footer__container.bd-grid 
        .footer__content 
            a(href="#" class="footer__logo") Tasty food 
            span.footer__description Restaurant
            div 
                a(href="" class="footer__social"): i(class='bx bxl-facebook') 
                a(href="" class="footer__social"): i(class='bx bxl-instagram') 
                a(href="" class="footer__social"): i(class='bx bxl-twitter')
        .footer__content 
            h3.footer__title Services 
            ul 
                li: a(href="#" class="footer__link") Delivery
                li: a(href="#" class="footer__link") Pricing
                li: a(href="#" class="footer__link") fast food
                li: a(href="#" class="footer__link") Reserve your spot
        .footer__content 
            h3.footer__title Information
            ul 
                li: a(href="#" class="footer__link") Event
                li: a(href="#" class="footer__link") Contact us
                li: a(href="#" class="footer__link") Privacy policy
                li: a(href="#" class="footer__link") Terms of services
        .footer__content 
            h3.footer__title Address
            ul 
                li Bogotá, Colombia
                li Jr Union #999
                li 555 - 234 - 1234
                li tastyfood@email.com
    p.footer__copy &#169; 2021 Daniel Galán Ingeniero. All rights reserved.

    