header.l-header#header
    nav.nav.bd-container
        a(href="#" class="nav__logo") Tasty
        .nav__menu#nav-menu
            ul.nav__list
                li.nav__item: a(href="#home" class="nav__link") Home
                li.nav__item: a(href="#about" class="nav__link") About
                li.nav__item: a(href="#services" class="nav__link") Services
                li.nav__item: a(href="#menu" class="nav__link") Menu
                li.nav__item: a(href="#contact" class="nav__link") Contact Us
        .nav__toggle#nav-toggle
            i(class='bx bx-menu')