section.home#home 
    .home__container.bd-container.bd-grid
        .home__data
            h1.home__title Tasty food 
            h2.home__subtitle Try de best food of <br> the week.
            a(href="#" class="button") View Menu 
        img(src="../assets/home.png", alt="salad" class="home__img")