section.services.section.bd-container#services
    span.section-subtitle Offering 
    h2.section-title Our amazing services
    .services__container.bd-grid 
        .services_content 
            img(src="../assets/dish.svg", alt="" class="services__img")
            h3.services__title Excellent food 
            p.services__description