doctype html
html(lang="en")
    include components/head.pug
    body 
        include components/headers.pug
        include components/mains.pug
        include components/footers.pug
    script(src="https://unpkg.com/scrollreveal")
    script(src="../js/main.js") 